/* RESET */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: rgb(64, 134, 255);
    background-repeat: repeat;
    background-size: contain;
}
#logo{
    width: 150px;
    height: 100px;
    margin-left: 100px;
    margin-top: 20px;
}
.container-main{
    width: 75%;
    margin: auto;
}
h1{
    font-size: 2rem;
    margin-top: 10px;
}
.grey{
    color: rgb(117, 117, 117);
}
.lightblue{
    color: rgb(96, 164, 187);
}
.images-top{
    margin-top: 15px;
}
.lorem1{
    margin-top: 20px;
}

#list{
    margin-top: 20px;
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    height: 200px;
}
.raw{
    background-color: rgb(79, 155, 255);
}
th{
    color: antiquewhite;
    text-align: left;
}
#first-th{
    width: 20%;
}
#second-th{
    width: 20%;
}
.blue-raw{
    background-color: rgb(146, 209, 238);
}
footer{
    margin-top: 20px;
}
#monitor{
    height: 100px;
    width: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-top: 10px;
}
#graph{
    height: 100px;
    width: 200px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    margin-top: 10px;
}
.footer-text{
    color: antiquewhite;
}